---
name: app.educate.home
url: /
---
<div class="grid-block wrap educate">
	<div class="grid-content small-12">
		<img ui-sref="^.tipsTricks" src="assets/img/educate/main_up.jpg">
	</div>
	<div class="grid-block small-12">
		<div class="grid-content">
			<img ui-sref="^.usingNetwork" src="assets/img/educate/r1_c1_up.jpg">
		</div>
		<div class="grid-content">
			<img ui-sref="^.industryNews" src="assets/img/educate/r1_c2_up.jpg">
		</div>
		<div class="grid-content">
			<img ui-sref="^.knowYourBrews" src="assets/img/educate/r1_c3_up.jpg">
		</div>
	</div>
	<div class="grid-block small-12">
		<div class="grid-content">
			<img ui-sref="^.privacyPolicy" src="assets/img/educate/r2_c2_up.jpg">
		</div>
		<div class="grid-content">
			<img ui-sref="^.houseRules" src="assets/img/educate/r2_c1_up.jpg">
		</div>
	</div>
</div>
