---
name: app.account.settings.managefriends
url: /manageFriends
---
<div class="wrap grid-block">
  <div class="small-12 grid-content">
    <h4>Manage Friends</h4>
  </div>
  <div class="small-4 medium-3 large-2 grid-content">
    <div class="card">
      <img src="http://placekitten.com/g/400/200">
      <div class="card-divider">
        User Name
      </div>
      <div class="card-section">
        <a>Delete User</a><br />
        <a>Visit Profile</a>
      </div>
    </div>
  </div>
  <div class="small-4 medium-3 large-2 grid-content">
    <div class="card">
      <img src="http://placekitten.com/g/400/200">
      <div class="card-divider">
        User Name
      </div>
      <div class="card-section">
        <a>Delete User</a><br />
        <a>Visit Profile</a>
      </div>
    </div>
  </div>
  <div class="small-4 medium-3 large-2 grid-content">
    <div class="card">
      <img src="http://placekitten.com/g/400/200">
      <div class="card-divider">
        User Name
      </div>
      <div class="card-section">
        <a>Delete User</a><br />
        <a>Visit Profile</a>
      </div>
    </div>
  </div>
  <div class="small-4 medium-3 large-2 grid-content">
    <div class="card">
      <img src="http://placekitten.com/g/400/200">
      <div class="card-divider">
        User Name
      </div>
      <div class="card-section">
        <a>Delete User</a><br />
        <a>Visit Profile</a>
      </div>
    </div>
  </div>
</div>
