---
name: app.account.setup
url: /setup
data:
---
<div class="grid-block vertical" ng-show="!selectedProvider">
	<div class="grid-content shrink text-center">
		<h4>Choose a login option below...</h4>
	</div>
	<div class="grid-block shrink">
		<div class="grid-content text-center icon-left">
			<a class="button primary" ng-repeat="provider in providers" ng-click="selectProvider(provider)">
				<img class="iconic-sm" zf-iconic="" ng-if="provider.name == 'Facebook'" data-icon="social" data-type="facebook"></img>
				<img class="iconic-sm" zf-iconic="" ng-if="provider.name == 'Twitter'" data-icon="social" data-type="twitter"></img>
				<img class="iconic-sm" zf-iconic="" ng-if="provider.name == 'Google'" data-icon="plus"></img>
				<img class="iconic-sm" zf-iconic="" ng-if="provider.name == 'BottleTrade'" data-icon="envelope" data-state="closed"></img>
				{{ provider.name }}
			</a>
		</div>
	</div>
</div>
<div class="grid-block vertical" ng-if="selectedProvider.name == 'BottleTrade'">
	<div class="grid-content">
		<form>
			<label>Email</label>
			<input type="text" placeholder="email" ng-model="setupData.email"></input>
			<label>Password</label>
			<input type="password" placeholder="password" ng-model="setupData.password"></input>
			<a class="button" ng-click="createUser()">Create</a>
		</form>
	</div>
</div>
