---
name: app.account.settings.resetpassword
url: /resetPassword
---
<div class="grid-container">
  <section class="block-list">
    <h4>Change Your Password</h4>
    <ul>
      <li><input type="text" placeholder="Password"></li>
      <li><input type="password" placeholder="Retype Password"></li>
    </ul>
  </section>
  <div class="center">
    <button>SAVE</button>
  </div>

  <section class="block-list">
    <h4>Delete Account</h4>
    <ul>
      <li><input type="text" placeholder="Current ID"></li>
      <li><input type="password" placeholder="Current Password"></li>
    </ul>
  </section>
  <div class="center">
    <button>Delete Account</button>
  </div>
</div>
