---
name: app.account.settings.emailalerts
url: /emailAlerts
---
<div class="small-6 grid-container">
  <section class="block-list">
    <h4>Email Alert Settings</h4>
    <ul>
      <li>
        <span>GLOBAL EMAIL SETTINGS</span>
          <div class="switch">
            <input type="checkbox" id="switchOne">
            <label for="switchOne"></label>
          </div>
      </li>
      <li>
        <span>Friend Requests</span>
          <div class="switch">
            <input type="checkbox" id="switchTwo">
            <label for="switchTwo"></label>
          </div>
      </li>
      <li>
        <span>Inbox Messages</span>
          <div class="switch">
            <input type="checkbox" id="switchThree">
            <label for="switchThree"></label>
          </div>
      </li>
      <li>
        <span>Trade Offers</span>
          <div class="switch">
            <input type="checkbox" id="switchFour">
            <label for="switchFour"></label>
          </div>
      </li>
      <li>
        <span>Accepted Offers</span>
          <div class="switch">
            <input type="checkbox" id="switchFive">
            <label for="switchFive"></label>
          </div>
      </li>
      <li>
        <span>Declined Offers</span>
          <div class="switch">
            <input type="checkbox" id="switchSix">
            <label for="switchSix"></label>
          </div>
      </li>
      <li>
        <span>Shipping Dates</span>
          <div class="switch">
            <input type="checkbox" id="switchSeven">
            <label for="switchSeven"></label>
          </div>
      </li>
      <li>
        <span>Bottles Received</span>
          <div class="switch">
            <input type="checkbox" id="switchEight">
            <label for="switchEight"></label>
          </div>
      </li>
      <li>
        <span>Bottles Shipped</span>
          <div class="switch">
            <input type="checkbox" id="switchNine">
            <label for="switchNine"></label>
          </div>
      </li>
      <li>
        <span>Closed Trades</span>
          <div class="switch">
            <input type="checkbox" id="switchTen">
            <label for="switchTen"></label>
          </div>
      </li>
      <li>
        <span>Trader Reviews</span>
          <div class="switch">
            <input type="checkbox" id="switchEleven">
            <label for="switchEleven"></label>
          </div>
      </li>
      <li>
        <span>Trade Messages</span>
          <div class="switch">
            <input type="checkbox" id="switchTwelve">
            <label for="switchTwelve"></label>
          </div>
      </li>

    </ul>
  </section>
  <div class="center">
    <button>SAVE</button>
  </div>
</div>
