<div class="grid-block vertical">
	<div class="grid-content shrink" ng-if="$root.user.facebook">
		<div class="grid-block shrink float-left">
			<img ng-if="!$root.user.facebook.cachedUserProfile.picture.data.is_silhoutte" ng-src="{{ $root.user.facebook.cachedUserProfile.picture.data.url }}"></img></span>
		</div>
		<div class="grid-content float-left wrap">
			<span><a href="{{ $root.user.facebook.cachedUserProfile.link }}">{{ $root.user.facebook.displayName }}</a>
			<p>Trader Rating: &star;&star;&star;&star;&star;</p>
		</div>
	</div>
	<div class="grid-content">
		<zf-accordion multi-open="true">
      <zf-accordion-item title="Cyber Cellar">
				<div class="grid-block shrink" ng-repeat="bottle in $parent.$parent.bottles">
					<bottle-summary data-bottle="bottle" data-remove-bottle="$parent.bottleMgr.removeFromList($parent.$parent.bottles, bottle)"></bottle-summary>
				</div>
			</zf-accordion-item>
      <zf-accordion-item title="Trader Reviews">
				<p>These are the reviews provided by users, these reviews are not editable.</p>
			</zf-accordion-item>
		</zf-accordion>
	</div>
</div>
