<div class="small-12 vertical grid-block input-bg">
  <div class="grid-content">
    <p class="text-center">ADD A WINERY</p>
    <div class="grid-container small-12 medium-6">
      <form>
        <label>
          Brewery Name:
          <input ng-model="winery.name" type="text"></input>
        </label>

        <label>
          Address:
          <input ng-model="winery.address" type="text"></input>
        </label>

        <label>
          Extended Address:
          <input ng-model="winery.extaddress" type="text"></input>
        </label>

        <label>
          City:
          <input ng-model="winery.city" type="text"></input>
        </label>

        <label>
          State:
          <input ng-model="winery.state" type="text"></input>
        </label>

        <label>
          Postal Code:
          <input ng-model="winery.postalcode" type="text"></input>
        </label>

        <label>
          Country:
          <input ng-model="winery.country" type="text"></input>
        </label>

        <label>
          Phone:
          <input ng-model="winery.phone" type="text"></input>
        </label>

        <label>
          Established:
          <input ng-model="winery.established" type="text"></input>
        </label>

        <label>
          eMail Address:
          <input ng-model="winery.email" type="text"></input>
        </label>

        <label>
          Description:
          <textarea ng-model="winery.description" class="describe"></textarea>
        </label>

        <div class="grid-content">
          <a class="button" ng-click="save()">Save</a>
        </div>

      </div>
      </form>
  </div>
</div>
