$bottletrade-button-width: 113px;
$bottletrade-menu-width: 40px;

.top-bar-custom {
	background-color: #716558;
	height: 40px;
	min-height: 40px;
	a {
		margin: 0px 0px;
	}
	.center {
		padding: 4px 6px;
		float: left;
		height: 100%;
		width: calc(100% - #{$bottletrade-button-width} - #{$bottletrade-menu-width} - 12px);

		input {
			height: 32px;
			margin: 0;
		}
	}
	.button {
		border: 1px solid #FFF;
		color: #FFF;
	}
	.menu-position {
		width: 2.5rem;
		height: 2.5rem;
		float: right;
	}
	.left {
		margin: 3px 0px 0px 3px;
		float: left;
		max-width: $bottletrade-button-width;
		min-width: $bottletrade-button-width;
	}
	.right {
		float: right;
	}
}
