@import "base";

.upload-beers,
.upload-spirits,
.upload-wines,
.upload-breweries,
.upload-distilleries,
.upload-wineries {
  td.error {
    color: $alert-color
  }

  td.success {
    color: $success-color
  }
}

.upload-beers,
.upload-spirits,
.upload-wines {
  table {
    th {
      width: calc(100%/4);
    }
    @include breakpoint(medium) {
      th {
        width: calc(100%/4);
      }
    }
    @include breakpoint(large) {
      th {
        width: calc(100%/4);
      }
    }
  }
}

.upload-breweries,
.upload-distilleries,
.upload-wineries {
  table {
    th {
      width: calc(100%/3);
    }
    @include breakpoint(medium) {
      th {
        width: calc(100%/3);
      }
    }
    @include breakpoint(large) {
      th {
        width: calc(100%/3);
      }
    }
  }
}
