@import "settings";

$primary-color: #716558;
$secondary-color: #f1f1f1;
$alert-color: #F04124;
$info-color: #A0D3E8;
$success-color: #43AC6A;
$warning-color: #F08A24;
$dark-color: #232323;
$titlebar-center-width: none;
$titlebar-side-width: none;

@import "upload.spreadsheet";
@import "base";
@import "global.text";
@import "header";
@import "footer";

#blog-iframe {
	width: 100%;
	padding: 0;
}

.beer-display {
	.thumbnail-holder {
		overflow: visible;

		.copy-holder {
			padding: 1rem 1rem;
			overflow: visible;
		}
	}
	.thumbnail {
		width: 150px;
		height: 150px;
		border: 2px solid #000;
		position: relative;
		top: -2rem;
		margin: 0rem 0rem 0rem 1.5rem;
		z-index: 999;
		background-color: #FFF;
		box-shadow: 0px 5px 15px #c9c9c9;

		img {
			height: 8rem;
		}
	}

	.cog-holder {
		li:first-child {
			color: #FFF;
			background-color: $primary-color;
			height: auto;
			margin: 0rem auto;
			padding: .5rem 0rem;
		}
	}
	.stat-holder {
		overflow: visible;
	}
	.copy-holder {
		padding: .5rem 3rem;
	}
	.button-holder-left {
		text-align: right;
	}
	.button-holder-right {
		text-align: left;
	}
	.button-holder-center {
		margin: 0px auto;
	}
	.action-sheet {
		background-color: primary-color;
	}
}
.home-page {
	.kill-bottom-margin {
		margin-bottom: .2rem;
		margin-right: auto;
		margin-left: auto;
	}
	.kill-margin {
		margin: 0rem;
		}
	.condense {
		font-stretch: condensed;
	}
	p.copy {
		margin: 0rem 3rem .5rem 3rem;
	}
	h3, h2{
		margin: 1.5rem auto;
	}
	hr {
		margin: .2rem
	}
	img.bottle-with-cirlce {
		width: 150px;
		height: 150px;
	}
}
.main-view {
background-color: #FFF;
width: 100%;
}
body {
	background-color: #FFF;
	/*overflow: scroll;*/
}

.card-text p {
		line-height: 1;
		margin-bottom: .45rem;
}
.display-icon {
	width: 85px !important;
	height: 80px;
}

#folders {
	.block-list {
		margin-left: 0rem;
		margin-right: 0rem;
	}
	.close-button {
		top: .5rem !important;
	}
}
#message-thread {
	.message-list {
		border-bottom: 1px solid #C9C9C9;
		border-top: 1px solid #C9C9C9;
		padding: .2rem 0rem;
	}
}
#open-folders {
	&.grid-block {
		background-color: #FFF;
		text-align: center;
		background-color: #FFF;
		border: 1px solid #C9C9C9;
		box-shadow: 0px 5px 8px #888888;
		padding: 2px;
	}
}
#messages {
	&.grid-block {
		background-color: #FFF;

	}
}

.search-result {
	border: 1px solid #000;
	margin: 0rem .2rem .3rem .2rem;
}

.menu-logo-position {
	position: relative;
	left: 8px;
	width: 3rem;
	height: 3rem;
	float: right;
}
.error-container {
	margin: -10px 0px 10px 2px;
	.error {
		color: #F00;
		font-size: .8rem;
	}
}

.button-group {
	margin-bottom: 0rem;
	border-bottom: 1px solid #FFF;
	li {
		border-right: 1px solid #FFF;
		padding: none;
		margin: none;
	}
	li:last-child {
		border-right: 0px solid #FFF;
	}
	svg {
		margin-top: 5px;
		width: 50px;
		height: 50px;
		fill: #FFF;
	}
	a {
		padding: 0 !important;
	}
}

.summary-container {
	border-bottom: 1px solid #000;
	padding: 0px 3px;
	@include breakpoint(medium) {border-right: 1px solid #000;}
	@include breakpoint(medium) {padding: 3px;}
	img {
		width: 50px;
		height: 50px;
	}
	div {
		overflow: visible;
	}
	a {
		padding: .2rem .2rem;
		margin: .3rem 0rem;
	}
}

.educate {
	padding-top: 1rem;
}

.educate-tip-tricks {
	padding-top: 1rem;
}
.educate-using-network {
	> .grid-block:first-child {
		margin-top: 1rem;
	}
}

.know-your-brews {
	> .grid-content:first-child {
		margin-top: 1rem;
	}
}

.upload-spreadsheet {
	h4 {
		margin: .6rem auto .4rem auto;
		font-weight: bold;
	}
	p {
		padding: .4rem;
	}
	hr {
		margin: .4rem;
	}
	.format-style {
		border: 1px solid #000;
		padding: .2rem;
		margin: 0 auto .4rem auto;
		text-align: center;
		font-size: .8rem;
		max-width: 550px;
	}
	.upload-select {
		max-width: 550px;
	}
}

#menu {
	background-color: $primary-color;
	border-left: 4px solid #000;

	.menu-bar li {
		border-bottom: 1px solid #999;

		img {
		width: 32px;
		height: 32px;
		}
		&.user-menu-title {
			text-align: center;
			color: #FFF;
			background-color: #000;
			padding: .5rem;
		}
		&.user-menu-with-badge {
			div {
			width: 99%;
			margin: none;
			}
		}
	}

}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.search-container {
  overflow-y: visible;

  .angucomplete-row {
    font-family: $font-normal;

    .highlight {
      font-weight: bold;
    }
  }

  .angucomplete-selected-row {
    background-color: $primary-color;
  }

  .angucomplete-dropdown {
    width: 100%;
  }
}
