<div class="grid-block vertical">
  <div class="grid-block vertical" ng-if="bottle">
    <add-bottle updated="updated(bottle)" data-bottle="bottle" ng-show="action == 'edit'"></add-bottle>
    <bottle-display ng-show="action != 'edit'" data-bottle="bottle" data-remove-bottle="bottleMgr.remove(bottle)"></bottle-display>
  </div>
  <div class="grid-block vertical" ng-if="bottles">
    <bottle-summary class="shrink" ng-repeat="bottle in bottles" data-bottle="bottle" data-remove-bottle="bottleMgr.removeFromList(bottles,bottle)"></bottle-summary>
  </div>
</div>
