<div class="grid-block vertical upload-beer">
  <div class="grid-container">
    <table>
      <thead>
        <tr>
          <th>STATUS</th>
          <th>BREWERY</th>
          <th>BEER</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="result in beers">
          <td ng-class="result.status == 'MATCH' ? 'success' : 'error'">
            {{ result.status }}
          </td>
          <td ng-switch="result.status">
            <div ng-switch-when="SELECT BREWERY">
              <span ng-repeat="brewery in result.matchedBreweries">{{ brewery.name }}<a class="button tiny" ng-click="selectBrewery(result, brewery)">Select</a><br></span>
            </div>
            <div ng-switch-when="ADD BREWERY">
              <span>{{ result.brewery }}<a class="button tiny" ng-click="addBrewery(result)">add</a></span>
            </div>
            <span ng-switch-default>{{ result.brewery }}</span>
          </td>
          <td ng-switch="result.status">
            <div ng-switch-when="SELECT BEER">
              <span ng-repeat="beer in result.matchedBeers">{{ beer.name }}<a class="button tiny" ng-click="selectBeer(result, beer)">Select</a><br></span>
            </div>
            <div ng-switch-when="ADD BEER">
              <span>{{ result.name }}<a class="button tiny" ng-click="addBeer(result)">add</a></span>
            </div>
            <span ng-switch-default>{{ result.name }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="grid-container">
    <a class="button hollow" ng-click="save()">Upload Beers</a>
  </div>
</div>
