<div class="grid-block vertical upload-beer">
  <div class="grid-container">
    <table>
      <thead>
        <tr>
          <th>STATUS</th>
          <th>BREWERY</th>
          <th>BEER</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="result in beers">
          <td>
            {{ result.status }}
          </td>
          <td>
            {{ result.brewery }}
          </td>
          <td>
            {{ result.name }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="grid-container">
    <a class="button hollow" ng-click="save()">Upload Beers</a>
  </div>
</div>
