<div class="grid-block vertical upload-distillery">
  <div class="grid-container">
    <span>Your spreadsheet containing DISTILLERIES has been loaded.  Please review and correct any errors before submitting.</span>
  </div>
  <div class="grid-container">
    <a class="button" ng-click="save()">Submit</a>
  </div>
  <div class="grid-container">
    <table>
      <thead>
        <th>Name</th>
      </thead>
      <tbody>
        <tr ng-repeat="result in distilleries">
          <td>
            <span ng-show="result.matchedDistilleries"><img zf-iconic="" icon="circle-check" size="small"></img></span>
            <span ng-show="!result.matchedDistilleries"><img zf-iconic="" icon="circle-x" size="small"></img></span>
            {{ result.name }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
