<div class="grid-block vertical upload-brewery">
  <div class="grid-container">
    <table class="upload-spreadsheet">
      <thead>
        <th>STATUS</th>
        <th>BREWERY</th>
      </thead>
      <tbody>
        <tr ng-repeat="result in breweries">
          <td>
            <span ng-show="result.matchedBreweries"><img zf-iconic="" icon="circle-check" size="small"></img></span>
            <span ng-show="!result.matchedBreweries"><img zf-iconic="" icon="circle-x" size="small"></img></span>
            {{ result.name }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="grid-container shrink">
    <a class="button hollow" ng-click="save()">Upload Breweries</a>
  </div>
</div>
