<zf-offcanvas id="menu" position="right" ng-click="$event.stopPropagation()">
	<ul class="menu-bar vertical primary user-menu-with-badge">
		<li class="user-menu-title" ng-if="user">
			<div>
				<span class="float-left" ng-show="!user.facebook">
					<img src="/assets/img/profile/siloutte.jpg"/>
					Nick
				</span>
				<span class="float-left" ng-show="user.facebook">
					<img ng-if="user.facebook.cachedUserProfile.picture.data.is_silhoutte"
						 src="/assets/img/profile/siloutte.jpg">
					</img>
					<img ng-if="!user.facebook.cachedUserProfile.picture.data.is_silhoutte"
						 ng-src="{{ user.facebook.cachedUserProfile.picture.data.url }}">
					</img>
					{{ user.facebook.displayName }}
				</span>
			</div>
		</li>
		<li ng-if="!user">
			<a ui-sref="app.account.login">LOGIN</a>
		</li>
		<li>
			<a ui-sref="app.cellar" ng-click="closeMenu()">CELLAR</a>
		</li>
		<li>
			<a ui-sref="app.account.settings.resetpassword" ng-click="closeMenu()">ACCOUNT SETTINGS</a>
		</li>
		<li class="user-menu-title">
			MESSAGES
		</li>
		<li class="user-menu-with-badge">
			<a ui-sref="app.messages" ng-click="closeMenu()"><div><span class="float-left">INBOX</span></div><div><span class="alert badge float-right">42</span></div></a>
		</li>
		<li>
			<a>COMPOSE</a>
		</li>
		<li class="user-menu-title">
			TRADING
		</li>
		<li class="user-menu-with-badge">
			<a><div><span class="float-left">INCOMING</span></div><div><span class="alert badge float-right">99+</span></div></a>
		</li>
		<li>
			<a>FIND A TRADER</a>
		</li>
		<li class="user-menu-title">
			FIND
		</li>
		<li>
			<a ui-sref="app.beers" ng-click="closeMenu()">BEER</a>
		</li>
		<li>
			<a ui-sref="app.breweries" ng-click="closeMenu()">BREWERIES</a>
		</li>
		<li>
			<a ui-sref="app.wines" ng-click="closeMenu()">WINE</a>
		</li>
		<li>
			<a ui-sref="app.wineries" ng-click="closeMenu()">WINERIES</a>
		</li>
		<li>
			<a ui-sref="app.spirits" ng-click="closeMenu()">SPIRITS</a>
		</li>
		<li>
			<a ui-sref="app.distilleries" ng-click="closeMenu()">DISTILLERIES</a>
		</li>
	</ul>
</zf-offcanvas>
<div class="grid-frame vertical" ng-click="closeMenu()">
	<div class="grid-block title-bar-block shrink show-for-small hide-for-medium">
		<div class="grid-block primary title-bar">
			<div class="left">
				<ul class="menu-bar primary">
					<li>
						<img style="width: 100px; margin-top: 3px;" class="float-left" src="/assets/img/template/BT-title.png"/></li>
					<li>
						<div class="grid-block">
							<span class="inline-label">
							<input type="search" placeholder="Search" ng-model="searchConfig.query">
							<a href="#" class="dark button">SEARCH</a>
							</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="right">
				<ul class="menu-bar primary condense float-right">
					<li>
						<a ng-click="toggleMenu(); $event.stopPropagation()">
							<img zf-iconic="" data-src="/assets/img/iconic/cog.svg" class="iconic-sm"></img>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="grid-block title-bar-block shrink show-for-medium hide-for-small">
		<div class="grid-block primary title-bar">
			<div class="left">
				<ul class="menu-bar primary">
					<li><img class="float-left" src="/assets/img/template/BT-title.png"/></li>
		         	<li><a ui-sref="app.home">HOME</a></li>
		         	<li><a ui-sref="app.store">STORE</a></li>
		         	<li><a ui-sref="app.educate.home">EDUCATE</a></li>
		         	<li><a ui-sref="app.blog">BLOG</a></li>
							<li>
								<div class="grid-block">
									<span class="inline-label">
									<input type="search" placeholder="Search" ng-model="searchConfig.query">
									<a href="#" class="dark button">SEARCH</a>
									</span>
								</div>
							</li>
				</ul>
			</div>
			<div class="right">
				<ul class="menu-bar primary condense float-right">
					<li><a ui-sref="app.account.login">LOGIN</a></li>
				</ul>
			</div>
		</div>
	</div>
  <div class="grid-block fadeIn main-view" ui-view></div>
  <div class="grid-content shrink collapse hide-for-medium">
	 	<ul id="main-footer-menu-bar" class="menu-bar icon-top primary">
			<li><a ui-sref="app.home"><img zf-iconic="" data-src="/assets/img/iconic/home.svg" class="iconic-sm">Home</a></li>
			<li><a ui-sref="app.store"><img zf-iconic="" data-src="/assets/img/iconic/cart.svg" class="iconic-sm">Store</a></li>
			<li><a ui-sref="app.educate.home"><img zf-iconic="" data-src="/assets/img/iconic/document.svg" class="iconic-sm">Educate</a></li>
			<li><a ui-sref="app.blog"><img zf-iconic="" data-src="/assets/img/iconic/comment-square.svg" class="iconic-sm">Blog</a></li>
			<li><a href="#"><img zf-iconic="" data-src="/assets/img/iconic/cog.svg" class="iconic-sm">More</a></li>
		</ul>
  </div>
</div>
