---
name: app.brewery
url: /brewery/:id
controller: CompanyCtrl
---
<div class="grid-block vertical" ng-init="addingCompany = false">
  <div class="grid-content" ng-show="!addingCompany">
    <a class="button" ng-click="addingCompany = true">Add</a>
  </div>
  <add-company type="compType" created="createdCompany(company); addingCompany = false" ng-show="addingCompany"></add-company>
  <div class="grid-block" ng-if="!brewery && !addingCompany">
    <div class="grid-content">
      <span>Brewery not found</span>
    </div>
  </div>
  <brewery-info brewery="brewery" ng-if="brewery && !addingCompany"></brewery-info>
</div>
