---
name: app.cellar
url: /cellar
controller: cellar
---
<div class="wrap grid-block">
  <div class="small-12 grid-content">
    <h4>My Cellar</h4>
  </div>
  <div class="small-4 medium-3 large-2 grid-content">
    <div class="card">
      <img src="http://placekitten.com/g/400/200">
      <div class="card-divider">
        Bottle Name
      </div>
      <div class="card-section">
        <a>Edit Details</a><br />
        <a>Data: XXX</a><br />
        <a>Data: XXX</a><br />
        <a>Data: XXX</a>
      </div>
    </div>
  </div>
  <div class="small-4 medium-3 large-2 grid-content">
    <div class="card">
      <img src="http://placekitten.com/g/400/200">
      <div class="card-divider">
        Bottle Name
      </div>
      <div class="card-section">
        <a>Edit Details</a><br />
        <a>Data: XXX</a><br />
        <a>Data: XXX</a><br />
        <a>Data: XXX</a>
      </div>
    </div>
  </div>
  <div class="small-4 medium-3 large-2 grid-content">
    <div class="card">
      <img src="http://placekitten.com/g/400/200">
      <div class="card-divider">
        Bottle Name
      </div>
      <div class="card-section">
        <a>Edit Details</a><br />
        <a>Data: XXX</a><br />
        <a>Data: XXX</a><br />
        <a>Data: XXX</a>
      </div>
    </div>
  </div>
  <div class="small-4 medium-3 large-2 grid-content">
    <div class="card">
      <img src="http://placekitten.com/g/400/200">
      <div class="card-divider">
        Bottle Name
      </div>
      <div class="card-section">
        <a>Edit Details</a><br />
        <a>Data: XXX</a><br />
        <a>Data: XXX</a><br />
        <a>Data: XXX</a>
      </div>
    </div>
  </div>
  <div class="small-4 medium-3 large-2 grid-content">
    <div class="card">
      <img src="http://placekitten.com/g/400/200">
      <div class="card-divider">
        Bottle Name
      </div>
      <div class="card-section">
        <a>Edit Details</a><br />
        <a>Data: XXX</a><br />
        <a>Data: XXX</a><br />
        <a>Data: XXX</a>
      </div>
    </div>
  </div>
  <div class="small-4 medium-3 large-2 grid-content">
    <div class="card">
      <img src="http://placekitten.com/g/400/200">
      <div class="card-divider">
        Bottle Name
      </div>
      <div class="card-section">
        <a>Edit Details</a><br />
        <a>Data: XXX</a><br />
        <a>Data: XXX</a><br />
        <a>Data: XXX</a>
      </div>
    </div>
  </div>
</div>
