---
name: app.home
url: /
controller: HomeCtrl
data: { authRequired: false }
---
<div class="grid-block vertical">
	<div class="grid-content">
		<a class="button" ui-sref="app.beers">Beers</a>
	</div>
	<div class="grid-content">
		<a class="button" ui-sref="app.breweries">Breweries</a>
	</div>
	<div class="grid-content">
		<a class="button" ui-sref="app.wines">Wines</a>
	</div>
	<div class="grid-content">
		<a class="button" ui-sref="app.wineries">Wineries</a>
	</div>
	<div class="grid-content">
		<a class="button" ui-sref="app.spirits">Spirits</a>
	</div>
	<div class="grid-content">
		<a class="button" ui-sref="app.distilleries">Distilleries</a>
	</div>
</div>
