---
name: app.search
url: /search
controller: SearchCtrl
data: { authRequired: true }
---
<div class="grid-block vertical">
  <div class="grid-content shrink">
    <label>Choose What to Search</label>
    <input type="radio" ng-model="type" value="Beer" id="searchBeer">
    <label for="searchBeer">Beer</label>
    <input type="radio" ng-model="type" value="Brewery" id="searchBrewery">
    <label for="searchBrewery">Brewery</label>
  </div>
  <div class="grid-content shrink">
    <input type="text" ng-model="search"></input>
  </div>
  <div class="grid-block fadeIn" ng-show="type == 'Beer'">
    <div class="grid-block wrap" ng-show="beers.length > 0">
      <div class="grid-block small-12" ng-repeat="beer in beers">
        <!-- Beer info
          beer_abv: 4.17
          beer_description: "Our flagship brand, Miller Lite, is the great tasting, less filling beer that defined the American light beer category in 1975. We deliver a clear, simple message to consumers: \Miller Lite is the better beer choice.\" What's our proof? ↵1) Miller Lite is the original light beer. ↵2) Miller Lite has real beer taste because it's never watered down. ↵3) Miller Lite is the only beer to win four gold awards in the World Beer Cup for best American-style light lager. (2006"
          beer_ibu: 10
          beer_label: "https://d1c8v1qci5en44.cloudfront.net/site/beer_logos/beer-3811_00614_sm.jpeg"
          beer_name: "Miller Lite"
          beer_style: "American Light Lager"
          bid: 3811
          created_at: "Sat, 21 Aug 2010 07:26:35 +0000"
          in_production: 1
        -->
        <!-- Brewery info
          brewery_active: 1
          brewery_id: 863
          brewery_label: "https://d1c8v1qci5en44.cloudfront.net/site/brewery_logos/brewery-millerBrewing.jpg"
          brewery_name: "Miller Brewing Company"
          brewery_slug: "miller-brewing-company"
          contact: {
            twitter: "MillerCoors",
            facebook: "http://www.facebook.com/MillerCoors",
            instagram: "",
            url: "http://www.millercoors.com"
          }
          country_name: "United States"
          location: {
            brewery_city: "Milwaukee",
            brewery_state: "WI",
            lat: 43.0422,
            lng: -87.9631
          }
        -->
        <span>Beer Name: {{ beer.beer.beer_name }}</span>
        <span>Brewery: {{ beer.brewery.brewery_name }}</span>
      </div>
    </div>
  </div>
  <div class="grid-block fadeIn" ng-show="type == 'Brewery'">
    <div class="grid-block wrap" ng-show="breweries.length > 0">
      <div class="grid-block small-12" ng-repeat="brewery in breweries">
        <!-- Brewery info
          brewery_active: 1
          brewery_id: 863
          brewery_label: "https://d1c8v1qci5en44.cloudfront.net/site/brewery_logos/brewery-millerBrewing.jpg"
          brewery_name: "Miller Brewing Company"
          brewery_slug: "miller-brewing-company"
          contact: {
            twitter: "MillerCoors",
            facebook: "http://www.facebook.com/MillerCoors",
            instagram: "",
            url: "http://www.millercoors.com"
          }
          country_name: "United States"
          location: {
            brewery_city: "Milwaukee",
            brewery_state: "WI",
            lat: 43.0422,
            lng: -87.9631
          }
        -->
        <span>Brewery: {{ brewery.brewery.brewery_name }}</span>
      </div>
    </div>
  </div>
</div>
