---
name: app.upload
url: /upload
data: { authRequired: false }
controller: UploadCtrl
---
<div class="grid-block vertical">
  <div class="grid-content">
    <div class="grid-container">
      <h4>What do you want to upload?</h4>
      <ul class="button-group segmented">
        <li>
          <input type="radio" ng-model="fileContents" value="beers" id="contentBeers">
          <label for="contentBeers">Beers</label>
        </li>
        <li>
          <input type="radio" ng-model="fileContents" value="breweries" id="contentBreweries">
          <label for="contentBreweries">Breweries</label>
        </li>
        <li>
          <input type="radio" ng-model="fileContents" value="wines" id="contentWines">
          <label for="contentWines">Wines</label>
        </li>
        <li>
          <input type="radio" ng-model="fileContents" value="wineries" id="contentWineries">
          <label for="contentWineries">Wineries</label>
        </li>
        <li>
          <input type="radio" ng-model="fileContents" value="spirits" id="contentSpirits">
          <label for="contentSpirits">Spirits</label>
        </li>
        <li>
          <input type="radio" ng-model="fileContents" value="distilleries" id="contentDistilleries">
          <label for="contentDistilleries">Distilleries</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-block vertical" ng-show="fileContents && fileResults.length == 0">
    <div class="grid-content" ng-show="fileContents == 'beers'">
      <h1>TODO: Fill with content describing how the spreadsheet should be formatted if uploading beers</h1>
    </div>
    <div class="grid-content" ng-show="fileContents == 'breweries'">
      <h1>TODO: Fill with content describing how the spreadsheet should be formatted if uploading breweries</h1>
    </div>
    <div class="grid-content" ng-show="fileContents == 'wines'">
      <h1>TODO: Fill with content describing how the spreadsheet should be formatted if uploading wines</h1>
    </div>
    <div class="grid-content" ng-show="fileContents == 'wineries'">
      <h1>TODO: Fill with content describing how the spreadsheet should be formatted if uploading wineries</h1>
    </div>
    <div class="grid-content" ng-show="fileContents == 'spirits'">
      <h1>TODO: Fill with content describing how the spreadsheet should be formatted if uploading spirits</h1>
    </div>
    <div class="grid-content" ng-show="fileContents == 'distilleries'">
      <h1>TODO: Fill with content describing how the spreadsheet should be formatted if uploading distilleries</h1>
    </div>
    <div class="grid-content">
      <div class="grid-container">
        <form>
          <input type="file" ng-file-select="onFileSelect($files)">
        </form>
      </div>
      <div class="grid-container">
        <a class="button" ng-click="upload()">Upload</a>
      </div>
    </div>
  </div>
  <div class="grid-block vertical" ng-if="fileResults.length > 0">
    <upload-breweries file-data="fileResults" breweries="parsedResults" ng-if="fileContents == 'breweries'"></upload-breweries>
    <upload-beers file-data="fileResults" beers="parsedResults" ng-if="fileContents == 'beers'"></upload-beers>
    <upload-wines file-data="fileResults" wines="parsedResults" ng-if="fileContents == 'wines'"></upload-wines>
    <upload-wineries file-data="fileResults" wineries="parsedResults" ng-if="fileContents == 'wineries'"></upload-wineries>
    <upload-spirits file-data="fileResults" spirits="parsedResults" ng-if="fileContents == 'spirits'"></upload-spirits>
    <upload-distilleries file-data="fileResults" distilleries="parsedResults" ng-if="fileContents == 'distilleries'"></upload-distilleries>
  </div>
</div>
