---
name: app.home
url: /
controller: HomeCtrl
data: { authRequired: false }
---
<div class="grid-block vertical home-page">
	<div class="grid-content shrink">
		<h2 class="text-center kill-margin">BottleTrade</h2>
		<h3 class="text-center kill-margin">[bot-l-treyd]</h2>
		<p>verb<br />
			1. The act of trading bottles for bottles based on a reputation system.
		</p>
		<p>noun<br />
			1. A free social media network dedicated to craft beer, wine and spirit trading.
		</p>
	</div>
	<div class="grid-bloc wrap" style="max-width: 300px; margin: 0px auto;">
		<div class="grid-block align-center">
			<a class="button hollow large kill-bottom-margin" ui-sref="app.account.setup">REGISTER A FREE PROFILE</a>
		</div>
		<div class="grid-block align-center">
			<p class="condense">ALREADY HAVE AN ACCOUNT? LOGIN <a ui-sref="app.account.login">HERE</a>
		</div>
	</div>
	<hr>
	<div class="grid-block vertical medium-horizontal medium-up-2">
		<div class="grid-block wrap">
			<div class="grid-block align-center small-12">
				<img class="bottle-with-cirlce" src="assets/img/home/bottle-circle.jpg" alt="BT ROUND LOGO" />
			</div>
			<div class="grid-block align-center small-12">
				<h3><strong>CUSTOM USER PROFILE</strong></h3>
			</div>
		</div>
		<div class="grid-block wrap">
			<div class="grid-block align-center small-12">
				<img class="bottle-with-cirlce" src="assets/img/home/bottle-circle.jpg" alt="BT ROUND LOGO" />
			</div>
			<div class="grid-block align-center small-12">
				<h3><strong>MANAGE CYBER CELLAR</strong></h3>
			</div>
		</div>
		<div class="grid-block wrap">
			<div class="grid-block align-center small-12">
				<img class="bottle-with-cirlce" src="assets/img/home/bottle-circle.jpg" alt="BT ROUND LOGO" />
			</div>
			<div class="grid-block align-center small-12">
				<h3><strong>MANAGE FT:ISO</strong></h3>
			</div>
		</div>
		<div class="grid-block wrap">
			<div class="grid-block align-center small-12">
				<img class="bottle-with-cirlce" src="assets/img/home/bottle-circle.jpg" alt="BT ROUND LOGO" />
			</div>
			<div class="grid-block align-center small-12">
				<h3><strong>BUILD YOUR REPUTATION</strong></h3>
			</div>
		</div>
	</div>
	<div class="grid-block align-center">
		<a class="button hollow large">LEARN MORE</a>
	</div>
	<hr>
	<div class="grid-block">
		<h2 class="kill-bottom-margin">OPTIMIZED</h2>
	</div>
	<div class="grid-block align-center kill-bottom-margin">
		<img style="height: 250px; width: 300px;" src="assets/img/home/opitimized.jpg" alt="optimized across all platforms" />
	</div>
	<div class="grid-content align-center">
		<p class="copy">Optimized for your Desktop browser, iPad, iPhone and Android.<br />
		Native apps coming soon.</p>
	</div>
	<hr>
	<div class="grid-block">
		<h2 class="kill-bottom-margin">NEWSLETTER</h2>
	</div>
	<div class="grid-content align-center">
		<p class="copy">Sign up for the BottleTrade Newsletter and stay up to date on our latest news, events and app updates.</p>
	</div>
	<div class="grid-block align-center">
		<span class="inline-label">
			<input type="search" placeholder="YOUR EMAIL">
			<a href="#" class="button">SIGN UP</a>
		</span>
	</div>
	<div class="grid-block">
		<h2 class="kill-bottom-margin">GET SOCIAL.</h2>
	</div>
	<div class="grid-block align-center">
		<img style="height: 100px; width: 350px;" src="assets/img/home/social-buttons.jpg" alt="optimized across all platforms" />
	</div>
</div>
