---
name: app.wineries
url: /wineries?id
data: { authRequired: false }
controller: WineriesCtrl
---
<div class="grid-block vertical">
  <div class="grid-content" ng-show="!adding">
    <a class="button" ng-click="adding = true">Add</a>
  </div>
	<add-winery created="createdBrewery(brewery); adding = false" ng-show="adding"></add-winery>
  <div class="grid-block vertical" ng-if="winery">
    <winery-display winery="winery"></winery-display>
  </div>
  <div class="grid-block vertical" ng-if="wineries">
    <winery-display ng-repeat="winery in wineries" data-winery="winery"></winery-display>
  </div>
</div>
