---
name: app.add-company
url: /add-company
---
<div class="grid-block vertical">
  <div class="grid-content">
    <input ng-model="company.name" type="text"></input>
  </div>
  <div class="grid-content">
    <a class="button" ng-click="save()">Save</a>
  </div>
</div>


<div class="vertical grid-block">
  <div class="grid-content">
    <p class="text-center">ADD A BREWERY</p>
    <div class="grid-container small-12 medium-6">
      <form>
        <label>
          Brewery Name:
          <input ng-model="company.name" type="text">
        </label>

        <label>
          Address:
          <input ng-model="company.address" type="text">
        </label>

        <label>
          Extended Address:
          <input ng-model="company.extaddress" type="text">
        </label>

        <label>
          City:
          <input ng-model="company.city" type="text">
        </label>
        <label>
          Postal Code:
          <input ng-model="company.postalcode" type="text">
        </label>

        <label>
          Country:
          <input ng-model="company.country" type="text">
        </label>

        <label>
          Phone:
          <input ng-model="company.phone" type="text">
        </label>

        <label>
          eMail Address:
          <span class="inline-label">
          <span class="form-label">www.</span>
          <input ng-model="company.email" type="text">
          <span class="form-label">.com</span>
          </span>
        </label>

        <label>
          Description:
          <input ng-model="company.description" type="text" class="describe">
        </label>

        <div class="grid-content">
          <a class="button" ng-click="save()">Save</a>
        </div>

      </div>
    </form>
  </div>
</div>
