---
name: app.breweries
url: /breweries?:id&:action
data: { authRequired: false }
controller: BreweriesCtrl
---
<div class="grid-block vertical" ng-if="brewery">
  <add-brewery updated="updated(brewery); editing = false" brewery="brewery" ng-show="action == 'edit'"></add-brewery>
  <div class="grid-block vertical" ng-show="action != 'edit'">
    <brewery-display data-brewery="brewery"></brewery-display>
  </div>
</div>
<div class="grid-block vertical" ng-if="breweries">
  <div class="grid-content text-center shrink" ng-show="action == 'new'">
    <a class="button" ui-sref="app.breweries({id: 'new'})" ui-sref-opts="{reload:true}">Add A Brewery</a>
  </div>
  <add-brewery created="created(brewery)" ng-show="action == 'new'"></add-brewery>
  <div class="grid-block vertical" ng-show="action != 'new'">
    <div class="grid-block shrink slideInLeft stagger" ng-repeat="brewery in breweries">
      <brewery-summary data-brewery="brewery"></brewery-summary>
    </div>
  </div>
</div>
