---
name: app.distilleries
url: /distilleries?id
data: { authRequired: false }
controller: DistilleriesCtrl
---
<div class="grid-block wrap">
  <div class="small-12 grid-container text-center" ng-show="!adding">
    <br /><a class="button" ng-click="adding = true">Add A Distillery</a>
  </div>
	<add-distillery created="created(distillery); adding = false" ng-show="adding"></add-distillery>
  <div class="grid-block" ng-if="distillery">
    <distillery-display class="small-12" data-distillery="distillery"></distillery-display>
  </div>
  <div class="grid-block wrap" ng-if="distilleries">
    <distillery-summary class="small-12 medium-4 large-2" ng-repeat="distillery in distilleries" data-distillery="distillery"></distillery-summary>
  </div>
</div>
