<div class="grid-block vertical input-bg">
  <div class="grid-content shrink">
    <h2>Add A Beer</h2>
    <p>Please review all information below and be as accurate as possible when adding beers. The Bottle Trade team reserves the right to make any changes after the beer has been submitted.</p>
    <img src="/assets/img/displays/upload-image.jpg">
  </div>
  <br />
  <form name="add_beer_form" novalidate>
    <div class-"grid-block">
      <div class="grid-content">
        <label>
          Beer Name:
          <input ng-model="beer.name" name="beer_name" type="text" required></input>
        </label>
        <div class="error-container"
            ng-show="add_beer_form.beer_name.$invalid && add_beer_form.$submitted">
          <small class="error"
              ng-show="add_beer_form.beer_name.$error.required">
              *Beer's name is required.
          </small>
        </div>

        <label>
          Brewed By:
          <brewery-autocomplete selected="beer.brewery" input-name="beer_brewery"></brewery-autocomplete>
        </label>
        <div class="error-container"
            ng-show="add_beer_form.beer_brewery.$invalid && add_beer_form.$submitted">
          <small class="error"
              ng-show="add_beer_form.beer_brewery.$error.required">
              *Beer's brewery is required.
          </small>
        </div>

        <label>
          Bottle Style:
          <input ng-model="beer.style" type="text"></input>
        </label>

        <label>
          ABV:
          <input ng-model="beer.abv" type="text"></input>
        </label>
      </div>

      <div class="grid-block">
        <div class="grid-content">
          <label>
            IBU:
            <input ng-model="beer.ibu" name="beer_ibu" placeholder="1 to 120" type="number" ng-min="1" ng-max="120"></input>
          </label>
          <div class="error-container"
              ng-show="add_beer_form.beer_ibu.$invalid">
            <small class="error">
                *IBU must be a number between 1 and 120.
            </small>
          </div>
        </div>

        <div class="grid-content">
          <label>
            SRM:
            <input ng-model="beer.srm" name="beer_srm" type="number" placeholder="#.##" ng-minlength="1" ng-maxlength="4"></input>
          </label>
          <div class="error-container"
              ng-show="add_beer_form.beer_srm.$invalid">
            <small class="error">
                *SRM is not formatted correctly.
            </small>
          </div>
        </div>

        <div class="grid-content">
          <label>
            UPC:
            <input ng-model="beer.upc" placeholder=" 12 digits" name="beer_upc" type="number" ng-minlength="1" ng-maxlength="12"></input>
          </label>
          <div class="error-container"
              ng-show="add_beer_form.beer_upc.$invalid">
            <small class="error">
                *UPC must be 12 numbers.<br />
            </small>
          </div>
        </div>
      </div>

      <div class="grid-content">
        <label>
          Bottle Size:
          <input ng-model="beer.volume" type="text" placeholder="oz. liter ml etc"></input>
        </label>

        <label>
          Quantity:
          <input ng-model="beer.quantity" type="text"></input>
        </label>

        <label>
          Bottled On Date:
          <input ng-model="beer.bottleDate" type="date"></input>
        </label>

        <label>
          Purchase Price:
          <input ng-model="beer.purchasePrice" type="text" maxlength="250"></input>
        </label>

        <label>
          Description:
          <textarea ng-model="beer.description"></textarea>
        </label>
      </div>

      <div class="grid-content text-center">
        <a class="button" ng-click="save()">Submit</a>
        <div class="error-container"
            ng-show="add_beer_form.$invalid && add_beer_form.$submitted">
          <small class="error"
              ng-show="add_beer_form.beer_name.$error.required || add_beer_form.beer_brewery.$error.required">
              *Fix the issues above in RED.
          </small>
        </div>
      </div>
    </div>
  </form>
</div>
