<div class="vertical grid-block">
  <div class="grid-content">
    <p class="text-center">ADD A BEER</p>
    <div class="grid-container small-12 medium-6">
      <form>
        <label>
          Beer Name:
          <input ng-model="beer.name" type="text"></input>
        </label>

        <label>
          Brewed By:
          <input ng-model="beer.brewedBy" type="text"></input>
        </label>

        <label>
          Bottle Size:
          <input ng-model="beer.volume" type="text"></input>
        </label>

        <label>
          Quantity:
          <input ng-model="beer.quantity" type="text"></input>
        </label>

        <label>
          Bottled On Date:
          <input ng-model="beer.bottleDate" type="text"></input>
        </label>

        <label>
          Purchase Price:
          <input ng-model="beer.purchasePrice" type="text"></input>
        </label>

        <label>
          Description:
          <input ng-model="beer.description" type="text" class="describe"></input>
        </label>

        <div class="grid-content">
          <a class="button" ng-click="save()">Save</a>
        </div>

      </div>
    </form>
  </div>
</div>
