<div class="grid-block vertical input-bg">
  <div class="grid-content shrink">
    <h2>Add A Beer</h2>
    <p>Please review all information below and be as accurate as possible when adding beers. The Bottle Trade team reserves the right to make any changes after the beer has been submitted.</p>
    <img src="/assets/img/displays/upload-image.jpg">
  </div>
  <br />
  <form>
    <div class-"grid-block">
      <div class="grid-content">
        <label>
          Beer Name:
          <input ng-model="beer.name" type="text"></input>
        </label>

        <label>
          Brewed By:
          <input ng-model="beer.brewedBy" type="text"></input>
        </label>

        <label>
          Bottle Style:
          <input ng-model="beer.style" type="text"></input>
        </label>

        <label>
          ABV:
          <input ng-model="beer.abv" type="text"></input>
        </label>
      </div>

      <div class="grid-block">
        <div class="grid-content">
          <label>
            IBU:
            <input ng-model="beer.ibu" type="text"></input>
          </label>
        </div>

        <div class="grid-content">
          <label>
            SRM:
            <input ng-model="beer.srm" type="text"></input>
          </label>
        </div>

        <div class="grid-content">
          <label>
            UPC:
            <input ng-model="beer.upc" type="text"></input>
          </label>
        </div>
      </div>

      <div class="grid-content">
        <label>
          Bottle Size:
          <input ng-model="beer.volume" type="text" placeholder="oz. liter ml etc"></input>
        </label>

        <label>
          Quantity:
          <input ng-model="beer.quantity" type="text"></input>
        </label>

        <label>
          Bottled On Date:
          <input ng-model="beer.bottleDate" type="date"></input>
        </label>

        <label>
          Purchase Price:
          <input ng-model="beer.purchasePrice" type="text" maxlength="250"></input>
        </label>

        <label>
          Description:
          <textarea ng-model="beer.description"></textarea>
        </label>
      </div>

      <div class="grid-content text-center">
        <a class="button" ng-click="save()">Submit</a>
      </div>
    </div>
  </form>
</div>
