<div class="small-12 vertical grid-block input-bg">
  <div class="grid-content">
    <p class="text-center">ADD A BEER</p>
    <div class="grid-container small-12 medium-6">
      <form>
        <label>
          Beer Name:
          <input ng-model="beer.name" type="text"></input>
        </label>

        <label>
          Brewed By:
          <input ng-model="beer.brewedBy" type="text"></input>
        </label>

        <label>
          Bottle Style:
          <input ng-model="beer.style" type="text"></input>
        </label>

        <label>
          ABV:
          <input ng-model="beer.abv" type="text"></input>
        </label>

        <label>
          IBU:
          <input ng-model="beer.ibu" type="text"></input>
        </label>

        <label>
          SRM:
          <input ng-model="beer.srm" type="text"></input>
        </label>

        <label>
          UPC:
          <input ng-model="beer.upc" type="text"></input>
        </label>

        <label>
          Bottle Size:
          <input ng-model="beer.volume" type="text" placeholder="oz. liter ml etc"></input>
        </label>

        <label>
          Quantity:
          <input ng-model="beer.quantity" type="text"></input>
        </label>

        <label>
          Bottled On Date:
          <input ng-model="beer.bottleDate" type="date"></input>
        </label>

        <label>
          Purchase Price:
          <input ng-model="beer.purchasePrice" type="text" maxlength="250"></input>
        </label>

        <label>
          Description:
          <textarea ng-model="beer.description"></textarea>
        </label>

        <div class="grid-content">
          <a class="button" ng-click="save()">Save</a>
        </div>

      </div>
    </form>
  </div>
</div>
