
<div class="top-banner">
	<div style="text-align: center;">
		<span class="white-title ti-large">ABOUT US</span>
	</div>
</div>
<div class="single-page-content">
<br />
	<span class="black">
	<strong>About Us</strong><br /><br />

BottleTrade is a social media website that allows wine, spirit and craft beer enthusiasts to interact with each other through
our network. We designed the site with the intention of allowing these enthusiasts to share their personal collections with
other users across the internet. Our feature set includes, but is not limited to, a personal profile, Cyber Cellar, Trader Feed,
custom trading tools and social media integration backed by an extensive database of brewery, winery, distillery and
beverage entries.<br /><br />


<strong>Credits</strong><br /><br />

- Initial database content from the Open Beer Database <a href='http://www.openbeerdb.com' target='_blank'>http://www.openbeerdb.com</a><br/>
<br/>

<strong>Contact Us</strong><br /><br />

If you have any questions in regards to the BottleTrade network, feel free to Contact Us at anytime at:<br />

<a class="underline" href="mailto:support@bottletrade.com">support@bottletrade.com</a> <br><br>
	</span>
</div>
