<div class="small-12 vertical grid-block input-bg">
  <div class="grid-content">
    <p class="text-center">ADD A DISTILLERY</p>
    <div class="grid-container small-12 medium-6">
      <form>
        <label>
          Brewery Name:
          <input ng-model="distillery.name" type="text"></input>
        </label>

        <label>
          Address:
          <input ng-model="distillery.address" type="text"></input>
        </label>

        <label>
          Extended Address:
          <input ng-model="distillery.extaddress" type="text"></input>
        </label>

        <label>
          City:
          <input ng-model="distillery.city" type="text"></input>
        </label>

        <label>
          State:
          <input ng-model="distillery.state" type="text"></input>
        </label>

        <label>
          Postal Code:
          <input ng-model="distillery.postalcode" type="text"></input>
        </label>

        <label>
          Country:
          <input ng-model="distillery.country" type="text"></input>
        </label>

        <label>
          Phone:
          <input ng-model="distillery.phone" type="text"></input>
        </label>

        <label>
          Established:
          <input ng-model="distillery.established" type="text"></input>
        </label>

        <label>
          eMail Address:
          <input ng-model="distillery.email" type="text"></input>
        </label>

        <label>
          Description:
          <textarea ng-model="distillery.description" class="describe"></textarea>
        </label>

        <div class="grid-content">
          <a class="button" ng-click="save()">Save</a>
        </div>

      </div>
    </form>
  </div>
</div>
